/* Breakpoints */
$small: 40rem;
$medium: 48rem;
$large: 64rem;
$xlarge: 80rem;

/* Styles */
html {
    font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif), serif;
}

.small-caps-menu-button-lists {
    font-family: var(--font-serif), serif;
    font-feature-settings: 'c2sc';
    font-size: 17px;
    font-variant: small-caps;
    line-height: 19px;
    letter-spacing: 1.7px;
    text-transform: lowercase;
}

.h2-headings-and-intros {
    font-family: var(--font-serif), serif;
    font-size: 30px;
    line-height: 38px;
}

.md\:h2-headings-and-intros {
    @media only screen and (min-width: $medium) {
        font-size: 30px !important;
        line-height: 38px !important;
    }
}

.h4-article-feature-text {
    font-family: var(--font-serif), serif;
    font-feature-settings: normal;
    font-size: 20px;
    line-height: 26px;
}

.p1-body-copy {
    font-family: var(--font-sans), sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.small-caps-heading {
    font-family: var(--font-serif), serif;
    font-feature-settings: 'c2sc';
    font-size: 25px;
    font-variant: small-caps;
    line-height: 30px;
    text-transform: lowercase;
    @media only screen and (min-width: $medium) {
        font-size: 30px;
        line-height: 33px;
    }
}

.caption-small {
    font-family: var(--font-serif), serif;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin-top: 12px;
}

.caption-large {
    font-family: var(--font-serif), serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 18px;
    margin-top: 12px;
}

.arrow-caption-large {
    font-family: var(--font-sans), sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.button {
    @extend .small-caps-menu-button-lists;
    align-items: center;
    display: inline-flex;
    height: 70px;
    justify-content: center;
    text-transform: lowercase;
    transition: all .35s ease-in-out;
    &:hover {
        background: var(--still-sand-light);
        border: 1px solid var(--still-sand-light);
    }
}

.h3-headings-and-pullquotes {
    font-family: var(--font-serif), serif;
    font-size: 24px;
    line-height: 30px;
}

.numbers-company-page {
    color: var(--still-grey);
    font-family: var(--font-numeric), serif;
    font-size: 15px;
    line-height: 33px;
    margin-left: 4px;
}

.h1-article-headings {
    font-size: 45px;
    line-height: 55px;
}

.md\:h1-article-headings {
    @media only screen and (min-width: $medium) {
        font-size: 45px;
        line-height: 55px;
    }
}

.underline,
.hover\:underline:hover {
    text-decoration-thickness: 1px;
}

p {
    @extend .p1-body-copy;
}

section p {
    margin-bottom: 20px;
    @media only screen and (min-width: $medium) {
        margin-bottom: 0;
    }
}

h1 {
    @extend .h1-article-headings;
}

h2 {
    @extend .h2-headings-and-intros;
}

h3 {
    @extend .h3-headings-and-pullquotes;
}

.small-caps-heading sup {
    top: -.35em;
    @media only screen and (min-width: $medium) {
        top: -.5em;
    }
}

html:not(.no-js) [data-aos="fade-up"] {
    transform: translate3d(0, 30px, 0);
}

/* Layout */
.is-layout-flex {
    display: grid;
}

.position-absolute {
    position: absolute;
}

.wp-container-core-columns-is-layout-3 {
    grid-template-columns: 1fr;
    margin: 100px 28px 0;
    @media only screen and (min-width: $medium) {
        gap: 24px;
        grid-template-columns: repeat(16, 1fr);
        margin: 119px 90px 0;
        > div:nth-child(1) {
            grid-column: 1 / span 4;
        }

        > div:nth-child(2) {
            grid-column: 5 / span 3;
        }

        > div:nth-child(3) {
            grid-column: 9 / span 8;
        }
    }
}

.ml-90px {
    margin-left: 28px;
    margin-right: 28px;
    @media only screen and (min-width: $medium) {
        margin-left: 90px;
        margin-right: 0;
    }
}

.mx-90px {
    margin-left: 28px;
    margin-right: 28px;
    @media only screen and (min-width: $medium) {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.md\:mx-90px {
    @media only screen and (min-width: $medium) {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.grid-cols-16 {
    grid-template-columns: repeat(16, 1fr);
}

.md\:grid-cols-16 {
    grid-template-columns: repeat(16, 1fr);
}

.grid-start-2 {
    @media only screen and (min-width: $medium) {
        grid-column: 2 / span 4;
    }
}

.grid-start-7 {
    @media only screen and (min-width: $medium) {
        grid-column: 7 / span 4;
    }
}

.grid-start-12 {
    @media only screen and (min-width: $medium) {
        grid-column: 12 / span 4;
    }
}

body {
    transition: background-color .35s ease-in-out;
}

nav {
    transition: all .35s ease-in-out;
}

nav:hover,
nav.show {
    background: #fff;
    border-bottom: 1px solid;
    position: fixed;
    @media only screen and (min-width: $medium) {
        background: rgba(255, 255, 255, .5);
        border-bottom: none;
    }
}

.page-html h2.wp-block-heading {
    @extend .h3-headings-and-pullquotes;
    @media only screen and (min-width: $medium) {
        font-size: 30px;
        line-height: 38px;
    }
}

footer {
    margin: 150px 28px 12px;
    @media only screen and (min-width: $medium) {
        margin: 269px 90px 0;
    }

    section {
        padding-bottom: 0 !important;
        @media only screen and (min-width: $medium) {
            padding-bottom: 85px !important;
        }
    }

    .footer-menu {
        grid-column: 1 / span 4;
        margin-top: 50px;
        order: 2;
        @media only screen and (min-width: $medium) {
            margin-top: 0;
        }
    }

    .footer-menu a {
        margin-bottom: 4px;
        @extend .small-caps-menu-button-lists;

        @media only screen and (min-width: $medium) {
            margin-bottom: 4px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer-copyright {
        grid-column: 5 / span 4;
        margin-top: 22px;
        order: 3;
        @media only screen and (min-width: $medium) {
            margin-top: 0;
        }

        p {
            align-self: end;
            margin-bottom: -1px;
        }

        span {
            margin-left: 2px;
        }
    }

    .footer-mailing-list {
        grid-column: 9 / span 8;
        justify-content: end;
        order: 1;

        @media only screen and (min-width: $medium) {
            order: 4;
        }

        .inner {
            align-self: start;
            margin-bottom: 3px;
            width: 100%;
        }

        form {
            align-items: end;
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(8, 1fr);
            width: 100%;

            input {
                grid-column: 1 / span 8;
                padding-top: 22px;
                @media only screen and (min-width: $medium) {
                    grid-column: 1 / span 6;
                }
            }

            input::placeholder {
                color: var(--still-grey);
            }

            button {
                grid-column: 1 / span 8;
                @media only screen and (min-width: $medium) {
                    grid-column: 7 / span 2;
                }
            }
        }
    }
}

.mobile-menu-link {
    margin: 15px 0;
}

/* Homepage */
.homepage-hero {
    margin-top: 118px;
    @media only screen and (min-width: $medium) {
        margin-top: 0;
    }
    &.wp-container-core-columns-is-layout-2 {
        gap: 28px;
        grid-template-columns: repeat(4, 1fr);
        > div:first-child {
            grid-column: 1 / span 4;
            grid-row: 2;
            margin-top: 48px;
        }

        > div:last-child {
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        h2 {
            margin-bottom: 35px;
        }

        @media only screen and (min-width: $medium) {
            gap: 24px;
            grid-template-columns: repeat(8, 1fr);
            > div:first-child {
                grid-column: 1 / span 4;
                grid-row: 1;
                margin-top: calc(40vh - 108px);
            }

            > div:last-child {
                grid-column: 5 / span 4;
            }

            h2 {
                margin-bottom: 0;
            }
        }
    }

    .carousel-wrapper {
        height: 300px;
        @media only screen and (min-width: $medium) {
            height: 100vh;
            min-height: 100%;
        }

        .basis-full {
            /*transition: opacity 1s ease-in-out;*/
        }

        .overflow-hidden,
        .flex,
        .basis-full {
            @media only screen and (min-width: $medium) {
                height: 100%;
                min-height: 100%;
            }
        }

        .flex {
            align-items: stretch;
        }

        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
            @media only screen and (min-width: $medium) {
                height: 100vh;
                max-width: none;
                min-height: 100%;
                width: 50vw;
            }
        }
    }

    @media only screen and (min-width: $medium) {
        > div:first-child {
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(2, min-content);

            h2 {
                grid-column: 1 / span 5;
            }

            .wp-block-columns {
                display: grid;
                gap: 24px;
                grid-column: 2 / span 6;
                grid-row: 2;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 48px;
            }
        }
    }
}

#still100 {
    h2 {
        margin-bottom: 30px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 0;
            margin-top: -5px;
        }
    }
}

.details-wrapper {
    @media only screen and (min-width: $medium) {
        display: flex;
    }
    @extend .h2-headings-and-intros;

    .details-summary {
        color: var(--still-grey);
        display: inline;
        transition: color .35s ease-in-out;
    }

    p {
        display: none;
        &:before {
            content: '\2014';
        }
        /* why do I need to add this? */
        font-family: var(--font-serif), serif;
        font-size: 30px;
        line-height: 38px;
        @media only screen and (min-width: $xlarge) {
            display: inline;
            opacity: 0;
            transition: opacity .35s ease-in-out;
        }
    }

    &:hover {
        .details-summary {
            color: var(--still-black);
        }
        p {
            display: inline;
            @media only screen and (min-width: $xlarge) {
                opacity: 1;
            }
        }
    }
}

.home-still-100-1 {
    > div:nth-child(2) {
        margin-top: 1px;
        p {
            margin-bottom: 28px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 16px;
            }
        }

        p:last-child {
            @media only screen and (min-width: $medium) {
                margin-bottom: 0;
            }
        }
    }

    > div:nth-child(3) {
        margin-top: 7px;
        @media only screen and (min-width: $medium) {
            margin-top: -3px;
        }
    }
}

.project-gallery-preview {
    margin: 42px 28px 0;
    @media only screen and (min-width: $medium) {
        margin: -5px 90px 0;
    }

    .project-previews {
        display: grid;
        column-gap: 24px;
        grid-template-columns: repeat(4, 1fr);
        /*grid-template-rows: 275px 275px 183px 226px;*/
        grid-template-rows: repeat(5, min-content);
        @media only screen and (min-width: $medium) {
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: 203px 216px 275px 290px;
        }

        .caption {
            @extend .caption-large;
            @media only screen and (min-width: $medium) {
                margin-top: 16px;
            }
        }

        .caption span {
            margin-left: 6px;
            @extend .arrow-caption-large;
        }
    }

    .inner {
        margin-bottom: 30px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 0;
        }
    }

    #slot1 {
        grid-column: 1 / span 3;
        @media only screen and (min-width: $medium) {
            grid-column: 2 / span 4;
            grid-row: 2 / span 2;
        }

        .inner {
            padding-bottom: calc(133% + 30px);
        }

        .slide > a {
            aspect-ratio: 3/4;
        }
    }

    #slot2 {
        grid-column: 2 / span 3;
        grid-row: 2;
        @media only screen and (min-width: $medium) {
            grid-column: 7 / span 2;
            grid-row: 2 / span 2;
        }

        .inner {
            padding-bottom: calc(125% + 30px);
        }

        .slide > a {
            aspect-ratio: 4/5;
        }
    }

    #slot3 {
        grid-column: 1 / span 3;
        grid-row: 3;
        @media only screen and (min-width: $medium) {
            grid-column: 13 / span 3;
            grid-row: 1 / span 2;
        }

        .inner {
            padding-bottom: calc(75% + 30px);
        }

        .slide > a {
            aspect-ratio: 4/3;
        }
    }

    #slot4 {
        grid-column: 2 / span 3;
        grid-row: 4;
        @media only screen and (min-width: $medium) {
            grid-column: 11 / span 6;
            grid-row: 3 / span 2;
        }

        .inner {
            padding-bottom: calc(100% + 30px);
        }

        .slide > a {
            aspect-ratio: 1/1;
        }
    }

    .button {
        align-items: center;
        align-self: end;
        display: flex;
        grid-column: 1 / span 4;
        grid-row: 5;
        justify-content: center;
        margin-top: 16px;
        @media only screen and (min-width: $medium) {
            grid-column: 2 / span 3;
            grid-row: 4;
            margin-top: 0;
        }
    }

    .inner {
        height: 100%;
        position: relative;
        width: 100%;

        .slide > a {
            background-color: var(--still-sand-dark);
            display: block;
            overflow: hidden;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 0;
            transition: all 2s ease-in-out;
        }

        > div.active {
            opacity: 1;
            z-index: 1;
        }
    }
}

.project-previews img,
.latest-articles-home img {
    transition: all .35s ease-in-out;
}

body:has(.project-previews img:hover) {
    background: var(--still-sand-dark);

    nav {
        background: var(--still-sand-dark);
    }

    .project-previews img:not(:hover) {
        filter: grayscale(1);
        mix-blend-mode: multiply;
    }
}

body:has(.latest-articles-home img:hover) {
    background: var(--still-sand-dark);

    nav {
        background: var(--still-sand-dark);
    }

    .latest-articles-home img:not(:hover) {
        filter: grayscale(1);
        mix-blend-mode: multiply;
    }
}

.home-our-people {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0 28px;
    @media only screen and (min-width: $medium) {
        column-gap: 24px;
        display: grid;
        grid-template-columns: 66px repeat(16, 1fr) 66px;
        grid-template-rows: 354px 388px min-content min-content;
        margin: 208px 0 0;
        padding: 0;
    }

    > :nth-child(1) {
        grid-column: 2 / span 4;
        grid-row: 1;
        order: 1;
        @media only screen and (min-width: $medium) {
            margin-top: -10px;
        }
    }

    > :nth-child(2) {
        grid-column: 10 / span 9;
        grid-row: 1 / span 2;
        margin: 50px -28px 0;
        order: 4;
        @media only screen and (min-width: $medium) {
            margin: 0;
        }

        figcaption {
            margin: 12px 28px 0;
            @media only screen and (min-width: $medium) {
                margin: 15px 0 0 0;
            }
        }
    }

    > :nth-child(3) {
        grid-column: 6 / span 3;
        grid-row: 1;
        margin-top: 16px;
        order: 2;
        @media only screen and (min-width: $medium) {
            margin-top: -4px;
        }
    }

    > :nth-child(4) {
        grid-column: 10 / span 6;
        grid-row: 3;
        order: 5;
        margin-top: 38px;
        @media only screen and (min-width: $medium) {
            margin-top: 0;
        }
    }

    > :nth-child(5) {
        grid-column: 1 / span 7;
        grid-row: 2 / span 3;
        margin: 25px -28px 0;
        order: 3;
        @media only screen and (min-width: $medium) {
            margin: 0;
        }

        figcaption {
            margin: 12px 28px 0;
            @media only screen and (min-width: $medium) {
                margin: 15px 0 0 90px;
            }
        }
    }

    > :nth-child(6) {
        align-items: center;
        align-self: end;
        display: flex;
        grid-column: 10 / span 3;
        grid-row: 4;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
        order: 6;
        width: 100%;
        @media only screen and (min-width: $medium) {
            margin-top: 0;
            width: auto;
        }
    }

    img {
        width: 100%;
    }

    figcaption {
        @extend .caption-large;
    }
}

.latest-articles {
    margin: 60px 28px 0;
    @media only screen and (min-width: $medium) {
        margin: 181px 90px 0;
    }

    .wrapper {
        margin-top: 23px;
        @media only screen and (min-width: $medium) {
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(16, 1fr);
            margin-top: 78px;
        }
    }

    article {
        margin-bottom: 44px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 0;
        }
    }

    article > a {
        background: var(--still-sand-dark);
    }

    .latest-article-1 {
        grid-column: 1 / span 8;

        h3,
        p {
            @media only screen and (min-width: $medium) {
                max-width: calc(50% - 12px);
            }
        }
    }

    .latest-article-2 {
        grid-column: 9 / span 4;
    }

    .latest-article-3 {
        grid-column: 13 / span 4;
    }

    h3 {
        margin: 13px 0;
        @media only screen and (min-width: $medium) {
            margin: 18px 0 11px;
        }
    }

    .read-more {
        @media only screen and (min-width: $medium) {
            margin-top: 14px;
        }

        a {
            border-bottom: 1px solid;
        }
    }

    .button {
        align-items: center;
        display: flex;
        grid-column: span 3;
        justify-content: center;
        margin-top: 14px;
        @media only screen and (min-width: $medium) {
            margin-top: 70px;
        }
    }
}

.latest-articles h3 a {
    @extend .h3-headings-and-pullquotes;
}

/* Still 100 page */
.page-header {
    margin-top: 205px;
    @media only screen and (min-width: $medium) {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(16, 1fr);
        margin-top: 257px;
    }

    h1 {
        margin-bottom: 18px;
        @media only screen and (min-width: $medium) {
            grid-column: 1 / span 5;
            margin-bottom: 0;
            margin-top: -2px;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 1 / span 6;
        }
    }

    .page-html {
        @media only screen and (min-width: $medium) {
            display: grid;
            grid-column: 6 / span 10;
            grid-template-columns: subgrid;
            grid-template-rows: repeat(2, min-content);
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 7 / span 10;
        }
    }

    h2 {
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;
        margin-bottom: 15px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 0;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 1 / span 5;
        }
    }

    p {
        grid-column: 7 / span 4;
        margin-bottom: 17px;
        margin-top: 4px;
        @media only screen and (min-width: $xlarge) {
            grid-column: 6 / span 3;
        }
    }

    .project-view-toggle {
        grid-column: 12 / span 4;
        margin: 52px 0 47px 0;
        @extend .small-caps-menu-button-lists;
        @media only screen and (min-width: $medium) {
            margin: 27px 0 96px 0;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 12 / span 3;
        }

        a {
            cursor: pointer;
        }

        a.active,
        a:active,
        a:focus,
        a:hover {
            border-bottom: 1px solid var(--still-black);
        }
    }
}

body:has(.project-page-html) .page-header h1 {
    grid-column: 1 / span 16;
}

.projects-grid {
    > div {
        margin-bottom: 5px;
    }

    > div > a {
        background-color: var(--still-sand-dark);
        display: block;
    }
    img {
        transition: all .35s ease-in-out allow-discrete;
        width: 100%;
    }

    h2 {
        margin-top: 13px;
    }
}

.projects-grid img:hover {
    filter: grayscale(1);
    mix-blend-mode: multiply;
}

.projects-grid h2 a {
    display: block;
    @extend .caption-small;
    @media only screen and (min-width: $medium) {
        font-size: 16px;
        letter-spacing: .8px;
        line-height: 18px;
        margin-top: 12px;
    }
}

.projects-grid h2 a .arrow {
    @extend .arrow-caption-large;
}

.projects-grid > div:nth-child(odd) {
    h2 {
        margin-left: 28px;
        @media only screen and (min-width: $medium) {
            margin-left: 0;
        }
    }
}

.projects-grid > div:nth-child(even) {
    h2 {
        margin-right: 28px;
        @media only screen and (min-width: $medium) {
            margin-left: 0;
        }
    }
}

body:has(div.projects-index) {
    background: var(--still-sand-dark);

    nav:hover,
    nav.show,
    .sheet-bg {
        background: var(--still-sand-dark);
    }

    .project-view-toggle {
        margin-bottom: 68px;
    }
}

.projects-index {
    margin-top: -13px;

    @media only screen and (min-width: $medium) {
        margin-top: 0;
    }

    .project-index-header {
        display: none;
        @media only screen and (min-width: $medium) {
            border-bottom: 0.7px solid var(--still-grey);
            display: grid;
            padding-bottom: 14px;
            grid-column: 6 / span 10;
            grid-template-columns: subgrid;

            > p:nth-child(1) {
                grid-column: 1 / span 6;
            }

            > p:nth-child(2) {
                grid-column: 7 / span 5;
            }
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 7 / span 10;

            > p:nth-child(1) {
                grid-column: 1 / span 5;
            }

            > p:nth-child(2) {
                grid-column: 6 / span 5;
            }
        }
    }

    .project-row {
        border-bottom: 0.7px solid var(--still-grey);
        padding: 12px 0;
        @extend .small-caps-menu-button-lists;
        @media only screen and (min-width: $medium) {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 6 / span 10;
            padding: 12px 0;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 7 / span 10;
        }

        span {
            @media only screen and (min-width: $medium) {
                grid-column: 1 / span 6;
            }
            @media only screen and (min-width: $xlarge) {
                grid-column: 1 / span 5;
            }
        }

        div {
            @media only screen and (min-width: $medium) {
                grid-column: 7 / span 4;
                margin-bottom: 1px;
                padding-top: 2px;
                /*&:last-child {*/
                /*    margin-bottom: 0;*/
                /*}*/
            }
            @media only screen and (min-width: $xlarge) {
                grid-column: 6 / span 4;
            }
        }

        span + div {
            margin-top: 10px;
            @media only screen and (min-width: $medium) {
                margin-top: 0;
            }
        }
    }

    .project-row > div {
        @extend .caption-large;
        font-feature-settings: normal;
        font-variant: none;
        margin-top: 4px;
        text-transform: none;
        @media only screen and (min-width: $medium) {
            margin-top: 0;
        }
    }

    .project-row > span > span,
    .project-row > div > span {
        @extend .caption-large;
        display: inline-block;
        font-feature-settings: 'c2sc';
        font-variant: small-caps;
        margin-right: 15px;
        margin-top: 0;
        width: 23px;
    }
}

.project-page-html {
    margin-top: -7px;
    @media only screen and (min-width: $medium) {
        margin-top: 137px;
    }

    .project-number {
        display: none;
    }

    .is-layout-flex {
        display: block;
        @media only screen and (min-width: $medium) {
            display: grid;
        }
    }

    .rendered-content {
        @media only screen and (min-width: $medium) {
            display: grid;
            grid-column: 1 / span 16;
            grid-row: 1 / span 2;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }
    }

    .wp-container-core-columns-is-layout-1 {
        display: block;
        @media only screen and (min-width: $medium) {
            display: grid;
            grid-column: 1 / span 16;
            grid-row: 1;
            grid-template-columns: subgrid;
        }

        > div:first-child {
            grid-column: 2 / span 5;
            margin-bottom: 68px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 0;
            }
        }

        > div:last-child {
            grid-column: 8 / span 3;
        }
    }

    .wp-container-core-columns-is-layout-2 {
        grid-column: 1 / span 16;
        grid-row: 3;
        grid-template-columns: subgrid;

        @media only screen and (min-width: $medium) {
            margin-top: 95px;
        }

        > div:first-child {
            display: none;
        }

        > div:last-child {
            grid-column: 12 / span 5;
            grid-row: 1;
            @media only screen and (min-width: $medium) {
                margin-top: -4px;
            }
        }
    }

    img.w-full {
        grid-column: 12 / span 5;
        grid-row: 1;
        margin-bottom: 45px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 168px;
        }
    }

    .project-intro {
        @extend .h3-headings-and-pullquotes;
        @media only screen and (min-width: $medium) {
            /*@extend .h2-headings-and-intros;*/
            font-size: 30px;
            line-height: 38px;
            margin-top: -7px;
        }
    }

    .project-subsidiaries {
        @media only screen and (min-width: $medium) {
            margin-top: -5px;
        }

        .wrapper {
            margin-top: 17px;
        }

        .wrapper div {
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            display: grid;
            grid-template-columns: auto 1fr;
            height: 40px;
        }

        .subsidiary-name {
            order: 1;
        }

        .subsidiary-number {
            color: var(--still-grey);
            font-family: var(--font-numeric), serif;
            font-size: 16px;
            justify-self: end;
            order: 2;
        }
    }

    .project-subsidiaries .wrapper {
        @extend .p1-body-copy;
    }

    .project-body {
        margin-top: 46px;
    }

    .project-endorsements:not(:empty):before {
        content: 'Endorsements:';
    }

    .project-collaboration:not(:empty):before {
        content: 'Collaboration Interests:';
    }

    .project-endorsements:not(:empty),
    .project-collaboration:not(:empty) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        margin-bottom: 21px;
        padding-bottom: 21px;
        @media only screen and (min-width: $medium) {
            display: grid;
            gap: 24px;
            grid-template-columns: 2fr 3fr;
        }
    }

    .project-endorsements:not(:empty):before,
    .project-collaboration:not(:empty):before {
        display: block;
        margin-bottom: 16px;
    }
    @media only screen and (min-width: $medium) {
        .project-endorsements:not(:empty):before,
        .project-collaboration:not(:empty):before {
            grid-column: 1;
            margin-bottom: 0;
            padding-right: 24px;
        }
    }

    .project-link {
        list-style-type: none;
        @media only screen and (min-width: $medium) {
            margin-left: calc(40% + 15px);
            margin-top: -2px;
        }
    }

    .project-link:after {
        content: ' ↗';
    }

    .project-gallery {
        grid-column: 1 / span 10;
        grid-row: 2 / span 2;
        margin: 25px 0 47px;

        @media only screen and (min-width: $medium) {
            margin: 95px 0 0 0;
        }

        .text-right {
            margin-top: -37px;
            @media only screen and (min-width: $medium) {
                margin-top: -25px;
            }
        }

        .button:active,
        .button:focus,
        .button:hover {
            background: transparent;
            border: none;
        }
    }

    a.button {
        align-items: center;
        align-self: end;
        display: flex;
        grid-column: 12 / span 3;
        grid-row: 3;
        justify-content: center;
        margin-bottom: 40px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 31px;
        }
    }

    .carousel-indicators {
        padding-top: 10px;
        position: relative;
        width: 50%;

        button {
            margin-right: 4px;
        }
    }
}

.project-page-html .project-gallery .text-right {
    @extend .p1-body-copy;
}

/* Team Members */
.featured-team-members {
    margin: 78px 28px 0;
    @media only screen and (min-width: $medium) {
        margin: 260px 90px 0;
    }

    .featured-team-member {
        margin-bottom: 47px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 0;
        }
    }

    .featured-team-member-1 {
        grid-column: 2 / span 8;
        grid-row: 1 / span 2;
    }

    .featured-team-member-2 {
        grid-column: 11 / span 5;
        grid-row: 2 / span 2;
    }

    .featured-team-member-3 {
        grid-column: 2 / span 7;
        grid-row: 3 / span 2;
    }

    .team-member-image {
        margin: 0 -28px;
        @media only screen and (min-width: $medium) {
            margin: 0;
        }
    }

    .primary,
    .secondary {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        @media only screen and (min-width: $medium) {
            aspect-ratio: auto;
        }
    }

    h2 {
        margin: 11px 0 3px;
        @media only screen and (min-width: $medium) {
            margin: 26px 0 7px 0;
        }
    }

    .paragraph {
        display: none;
        @media only screen and (min-width: $medium) {
            display: block;
            margin-top: 27px;
            max-width: calc(25vw - 60px);
        }
    }

    .arrow {
    }
}

.featured-team-member .arrow {
    @extend .arrow-caption-large;
}

.team-members {
    h2 {
        margin: 11px 0 3px;
        @media only screen and (min-width: $medium) {
            margin: 26px 0 7px 0;
        }
    }

    .paragraph {
        display: none;
        @media only screen and (min-width: $medium) {
            display: block;
            margin-top: 27px;
            max-width: calc(25vw - 60px);
        }
    }

    .arrow {
    }

    > div {
        margin-bottom: 47px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 31px;
        }
    }

    > div:last-child {
        margin-bottom: 0;
    }
}

.team-members > div:nth-child(odd) {
    @media only screen and (width < $medium) {
        grid-column: 1 / span 3;
    }
}

.team-members > div:nth-child(even) {
    @media only screen and (width < $medium) {
        grid-column: 2 / span 3;
    }
}

.team-members .arrow {
    @extend .arrow-caption-large;
}

.team-member-image {

    a {
        position: relative;
    }

    .secondary {
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .45s ease-in-out;
    }

    .primary {
        opacity: 1;
        transition: opacity .45s ease-in-out;
    }

    &:hover {
        .secondary {
            opacity: 1;
        }

        .primary {
            opacity: 0;
        }
    }
}

h1 .job-title {
    display: block;
    margin: 18px 0 0 0;
    @media only screen and (min-width: $medium) {
        display: inline;
        margin: 0 0 0 24px;
    }
}

.team-page-html {
    margin-top: 5px;
    @media only screen and (min-width: $medium) {
        margin-top: 133px;
        min-height: calc(100vh - 426px);
    }

    .rendered-content {
        @media only screen and (min-width: $medium) {
            display: grid;
            grid-column: 1 / span 16;
            grid-row: 1 / span 2;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }
    }

    .wp-container-core-columns-is-layout-1 {
        @media only screen and (min-width: $medium) {
            grid-column: 1 / span 16;
            grid-row: 1;
            grid-template-columns: subgrid;

            > div:first-child {
                grid-column: 2 / span 3;
            }

            > div:last-child {
                grid-column: 5 / span 3;
            }
        }
    }

    .team-intro {
        display: none;
    }

    .button {
        align-items: center;
        align-self: end;
        display: flex;
        justify-content: center;
        @media only screen and (min-width: $medium) {
            grid-column: 2 / span 3;
            grid-row: 2;
        }
    }
}

img.w-half {
    margin: 26px 0 60px 0;
    @media only screen and (min-width: $medium) {
        grid-column: 9 / span 8;
        grid-row: 1 / span 2;
        height: 100vh;
        margin: 0;
        max-width: none;
        width: 50vh;
        min-width: 50vw;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* Latest news block */
.latest-news-block {
    border-top: .7px solid var(--still-grey);
    margin-top: 100px;
    @media only screen and (min-width: $medium) {
        margin-top: 195px;
    }

    h2 {
        margin-top: 27px;
    }

    .inner {
        margin-top: 96px;

        img {
            width: 100%;
        }

        .article-1 {
            grid-column: 2 / span 4;
        }

        .article-2 {
            grid-column: 7 / span 4;
        }

        .article-3 {
            grid-column: 12 / span 4;
        }

        article {
            margin-bottom: 48px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 0;
            }
        }

        h3 {
            margin-bottom: 14px;
            margin-top: 18px;
        }

        .excerpt {
            margin-bottom: 17px;
        }

        .button {
            grid-column: 2 / span 3;
            grid-row: 2;
            width: 100%;
            @media only screen and (min-width: $medium) {
                margin-top: 69px;
            }
            @media only screen and (min-width: $large) {
                grid-column: 2 / span 6;
            }
            @media only screen and (min-width: $xlarge) {
                grid-column: 1 / span 3;
            }
        }
    }
}

/* Articles */
.featured-article {
    @media only screen and (min-width: $medium) {
        display: grid;
        grid-column: 4 / span 12;
        grid-template-columns: subgrid;
        margin-bottom: 41px;
    }
    @media only screen and (min-width: $large) {
        grid-column: 2 / span 14;
    }
    @media only screen and (min-width: $xlarge) {
        grid-column: 4 / span 12;
    }

    .w-full {
        grid-column: 1 / span 8;
        @media only screen and (min-width: $large) {
            grid-column: 1 / span 9;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 1 / span 8;
        }
    }

    > div:last-child {
        grid-column: 9 / span 4;
        @media only screen and (min-width: $large) {
            grid-column: 10 / span 7;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 9 / span 4;
            margin-top: -6px;
        }

        h3 {
            margin-bottom: 15px;
            margin-top: 13px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 19px;
                margin-top: 0;
            }
        }

        h3 .arrow {
            @extend .arrow-caption-large;
        }

        .article-words,
        .article-images {
            margin-bottom: 0;
            @media only screen and (min-width: $medium) {
                margin-bottom: 20px;
            }
            @media only screen and (min-width: $xlarge) {
                margin-bottom: 0;
            }
        }

        .paragraph {
            margin-top: 11px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 18px;
                margin-top: 20px;
            }
        }
    }
}

.article-grid {
    margin-top: 22px;
    @media only screen and (min-width: $medium) {
        margin-top: 143px;
    }

    h3,
    .paragraph,
    p {
        @media only screen and (min-width: $medium) {
            max-width: calc(25vw - 63px);
        }
        @media only screen and (min-width: $large) {
            max-width: none;
        }
        @media only screen and (min-width: $xlarge) {
            max-width: calc(25vw - 63px);
        }
    }
}

.read-more-wrapper {
    margin-bottom: 50px;
    @media only screen and (min-width: $medium) {
        margin-bottom: 20px;
    }
}

.article-categories {
    align-items: flex-start;
    grid-column: 1 / span 3;
    grid-row: 1;
    @media only screen and (min-width: $large) {
        grid-column: 2 / span 14;
    }
    @media only screen and (min-width: $xlarge) {
        grid-column: 1 / span 3;
        margin-top: -6px;
    }

    > div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        margin-bottom: 24px;
        padding-bottom: 22px;
        @media only screen and (min-width: $xlarge) {
            border-bottom: 0;
            margin-bottom: 47px;
            padding-bottom: 0;
        }
    }
}

.article-categories a {
    background-color: var(--still-sand-light);
    border-radius: 50px;
    flex-basis: fit-content;
    height: 31px;
    line-height: 17px;
    margin-bottom: 15px;
    padding: 7px 18px;
    text-align: center;
    white-space: nowrap;
    @extend .p1-body-copy;
}

.article-categories a:last-child {
    margin-bottom: 50px;
    @media only screen and (min-width: $medium) {
        margin-bottom: 0;
    }
}

.article .article-categories a {
    margin-bottom: 0;
    @media only screen and (min-width: $medium) {
        margin-bottom: 15px;
    }
    @media only screen and (min-width: $xlarge) {
        margin-bottom: 0;
    }
}

.article .article-categories a:last-child {
    margin: 0;
}

.load-more-wrapper {
    @media only screen and (min-width: $medium) {
        display: grid;
        grid-column: 4 / span 12;
        grid-template-columns: subgrid;
    }
    @media only screen and (min-width: $large) {
        grid-column: 2 / span 14;
    }
    @media only screen and (min-width: $xlarge) {
        grid-column: 4 / span 12;
    }

    .grid-start-1 {
        grid-column: 1 / span 6;
        margin-bottom: 38px;
        @media only screen and (min-width: $large) {
            grid-column: 1 / span 7;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 1 / span 6;
        }
    }

    .grid-start-7 {
        grid-column: 7 / span 6;
        margin-bottom: 38px;
        @media only screen and (min-width: $large) {
            grid-column: 8 / span 7;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 7 / span 6;
        }
    }

    button {
        width: 100%;
        @media only screen and (min-width: $medium) {
            grid-column: 1 / span 3;
            margin-top: 35px;
        }
        @media only screen and (min-width: $large) {
            grid-column: 1 / span 7;
        }
        @media only screen and (min-width: $xlarge) {
            grid-column: 1 / span 3;
        }
    }

    h3 {
        margin-bottom: 15px;
        margin-top: 13px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 13px;
            margin-top: 18px;
        }
    }

    .paragraph {
        margin-bottom: 19px;
    }

    .post-card {
        margin-bottom: 39px;
    }
}

.article {
    margin-bottom: -23px;
    margin-top: 253px;

    h1,
    .article-meta,
    .article-categories,
    .article-featured-image {
        grid-column: 4 / span 10;
        text-align: center;
    }

    .article-intro {
        grid-column: 5 / span 8;
    }

    .article-content {
        grid-column: 6 / span 6;
    }

    .article-meta {
        margin: 11px 0 20px;
        @media only screen and (min-width: $medium) {
            margin: 63px 0 31px 0;
        }

        span {
            display: block;

            @media only screen and (min-width: $medium) {
                display: inline;
            }
        }

        .delimiter {
            display: none;
            @media only screen and (min-width: $medium) {
                display: inline;
            }
        }
    }

    .article-categories {
        grid-row: 3;
        margin-bottom: 35px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 91px;
        }
    }

    .article-featured-image {
        margin: 44px -28px 46px;
        @media only screen and (min-width: $medium) {
            margin: 76px 0 70px 0;
        }
    }

    .article-featured-image-caption {
        align-self: start;
    }

    .article-featured-image-caption p {
        @extend .caption-large;
    }

    .article-content {
        .wp-block-heading {
            display: none;
        }

        img {
            width: 100%;
        }

        > p {
            margin-bottom: 23px;
        }

        blockquote {
            margin: 37px 0 47px;
            @media only screen and (min-width: $medium) {
                margin: 40px 0 68px;
            }
        }

        blockquote p {
            @extend .h4-article-feature-text;
            @media only screen and (min-width: $medium) {
                /*@extend .h3-headings-and-pullquotes;*/
                font-size: 24px;
                line-height: 30px;
            }
        }

        .wp-block-image {
            margin: 0 -28px 44px;
            @media only screen and (min-width: $medium) {
                margin: 0 0 70px;
            }
        }
    }
}

/* Contact page */
body:has(section.contact-page) {
    background: var(--still-sand-dark);

    nav:hover,
    nav.show,
    .sheet-bg {
        background: var(--still-sand-dark);
    }
}

.contact-page {
    .page-header {
        @media only screen and (min-width: $medium) {
            margin-bottom: 115px;
        }

        h1 {
            margin-bottom: 20px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 18px;
            }
        }
    }

    .page-html {
        grid-column: 2 / span 3;

        a {
            border-bottom: 1px solid var(--still-black)
        }

        p:nth-child(1) {
            margin-bottom: 21px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 27px;
            }
        }

        p:nth-child(2) {
            margin-bottom: 66px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 78px;
            }
        }

        h3 {
            margin-bottom: 19px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 20px;
            }
        }

        p:last-child {
            margin-bottom: 63px;
            margin-top: 1px;
            @media only screen and (min-width: $medium) {
                margin-top: 26px;
            }
        }
    }

    .contact-form {
        grid-column: 9 / span 7;
        margin-top: -2px;

        form {
            margin-top: 5px;
            @media only screen and (min-width: $medium) {
                margin-top: 49px;
            }
        }

        input {
            padding-top: 23px;
        }

        textarea {
            height: 239px;
            margin-top: 30px;
            padding: 20px;
        }

        textarea::placeholder,
        input::placeholder {
            color: var(--still-grey);
        }

        .space-y-8 > :not([hidden]) ~ :not([hidden]) {
            margin-top: 10px;
        }

        button {
            height: 70px;
            margin-top: 30px !important;
            width: 100%;
        }
    }
}

.contact-form input,
.contact-form textarea,
.mailing-list-form {
    @extend .p1-body-copy;
}

.contact-page .page-html h3 {
    @extend .small-caps-menu-button-lists;
}

/* Any other page */
body:has(section.page-page) {
    background: var(--still-sand-dark);

    nav:hover,
    nav.show,
    .sheet-bg {
        background: var(--still-sand-dark);
    }
}

.page-page {
    .page-header {
        margin-bottom: 24px;
        @media only screen and (min-width: $medium) {
            margin-bottom: 129px;
        }
    }

    .featured-image {
        grid-column: 1 / span 3;
        margin-bottom: 44px;
        margin-left: -28px;
        @media only screen and (min-width: $medium) {
            grid-column: 1 / span 5;
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 180px;
        }

        img {
            width: 100%;
        }
    }

    .page-html {
        grid-column: 1 / span 4;
        grid-row: 2;
        @media only screen and (min-width: $medium) {
            grid-column: 9 / span 6;
            grid-row: 1;
        }

        p {
            margin-bottom: 25px;
        }

        @media only screen and (min-width: $medium) {
            p:first-child {
                margin-top: -4px;
            }
        }

        h2, h3 {
            margin-bottom: 20px;
            margin-top: 9px;
            @media only screen and (min-width: $medium) {
                margin-bottom: 21px;
                margin-top: 35px;
            }
        }
    }
}

.page-page .page-html h2.wp-block-heading {
    @extend .small-caps-menu-button-lists;
}
